/.env
/cover.out
.env

/.idea/
/bin/.env
/log.txt

.vscode
/bin/sync_service/
/bin/sync_service_test/
/bin/crud_service/
/bin/templates_main/
/bin/templates/configs_/.env_rapira
/bin/templates/configs_/.env_test
/bin/templates/configs_/.env
/bin/notifier_service/
/bin/templates/configs_/.env_notifier
/bin/templates/configs_/.env*
/bin/notifier_service/
/bin/crud_generator

/bin/tinkoff_invest/
/bin/postgres_migrate/
