/.env
/cover.out
/internal/v0/app/.env
.env

/.idea/
/bin/.env
/log.txt

.vscode
/bin/image_connections
/settings/connections_add.txt
/bin/settings/connections_add.txt
/database.graphml
/database.graphml0
/bin/ready/pkg/model/
/bin/ready/
/bin/sync_service/
/bin/sync_service_test/
/bin/crud_service/
/bin/templates_main/
/bin/templates/configs_/.env_rapira
/bin/templates/configs_/.env_test
